In [1]:
%matplotlib inline
import os
os.chdir("..")
print(os.getcwd())

C:\Users\root\Desktop\practice coding\TechJam2019

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

import config
import utils.DataMaker as dm

In [3]:
train_income_df, test_income_df, demographic_df, cc_df, kplus_df, train_df, test_df = dm.read_all()

In [9]:
n_cc_df = demographic_df.groupby("id").count()[["cc_no"]].copy()

In [4]:
demographic_df.merge(cc_df, on="cc_no")

           id   cc_no  gender  ocp_cd  age      pos_dt  cc_txn_amt
0           1   98397       2     9.0    5  2018-01-20        4700
1           1   98397       2     9.0    5  2018-02-17       10000
2           1   98397       2     9.0    5  2018-06-14       10000
3           1   98397       2     9.0    5  2018-05-13       10000
4           1   98397       2     9.0    5  2018-02-17       10000
5           2       2       2     3.0    4  2018-03-10         800
6           2       2       2     3.0    4  2018-05-14         800
7           2       2       2     3.0    4  2018-05-07         800
8           2       2       2     3.0    4  2018-06-11        1000
9           2       2       2     3.0    4  2018-03-12        3800
10          2       2       2     3.0    4  2018-04-27       14700
11          2       2       2     3.0    4  2018-06-04        1000
12          2       2       2     3.0    4  2018-04-29        4000
13          2    9740       2     3.0    4  2018-01-28        2200
14          2    9740       2     3.0    4  2018-04-01        1000
15          2    9740       2     3.0    4  2018-06-03        1700
16          2    9740       2     3.0    4  2018-02-25         800
17          2    9740       2     3.0    4  2018-06-28        1800
18          2    9740       2     3.0    4  2018-04-30        1600
19          2    9740       2     3.0    4  2018-02-25         500
20          2    9740       2     3.0    4  2018-04-01        1700
21          2    9740       2     3.0    4  2018-06-30         600
22          2    9740       2     3.0    4  2018-03-04        1200
23          2    9740       2     3.0    4  2018-02-04        1100
24          2    9740       2     3.0    4  2018-02-25        1000
25          2    9740       2     3.0    4  2018-04-14         500
26          2    9740       2     3.0    4  2018-02-11         800
27          2    9740       2     3.0    4  2018-04-29         800
28          2    9740       2     3.0    4  2018-04-23         600
29          2    9740       2     3.0    4  2018-01-04        1600
...       ...     ...     ...     ...  ...         ...         ...
999083  64995  102392       2     9.0    4  2018-03-29        4400
999084  64995  102392       2     9.0    4  2018-04-09        1900
999085  64995  102392       2     9.0    4  2018-03-20        3700
999086  64995  102392       2     9.0    4  2018-05-15        3600
999087  64995  102392       2     9.0    4  2018-05-27         500
999088  64995  102392       2     9.0    4  2018-02-09         900
999089  64995  102392       2     9.0    4  2018-01-14         600
999090  64995  102392       2     9.0    4  2018-04-05        1800
999091  64997  102395       2     3.0    2  2018-04-05        2100
999092  64999  102407       2     3.0    3  2018-04-09         700
999093  64999  102407       2     3.0    3  2018-05-23        1000
999094  64999  102407       2     3.0    3  2018-04-17        1300
999095  64999  102407       2     3.0    3  2018-04-16        1100
999096  64999  102407       2     3.0    3  2018-04-09         600
999097  64999  102407       2     3.0    3  2018-04-17        1600
999098  64999  102407       2     3.0    3  2018-05-22        1500
999099  64999  102407       2     3.0    3  2018-04-11        1100
999100  64999  102407       2     3.0    3  2018-02-23        2400
999101  64999  102407       2     3.0    3  2018-05-09        1800
999102  64999  102407       2     3.0    3  2018-01-27        1000
999103  64999  102407       2     3.0    3  2018-05-14        1000
999104  64999  102407       2     3.0    3  2018-05-21        1900
999105  64999  102407       2     3.0    3  2018-04-08        1200
999106  64999  102407       2     3.0    3  2018-01-11         900
999107  64999  102407       2     3.0    3  2018-05-14         500
999108  64999  102407       2     3.0    3  2018-04-27        1800
999109  64999  102407       2     3.0    3  2018-05-28        2100
999110  65000  102408       2     9.0    4  2018-02-27        2000
999111  65000  102408       2     9.0    4  2018-03-16        2000
999112  65000  102408       2     9.0    4  2018-03-12        2000

[999113 rows x 7 columns]